import(affy)

export(RNADegradation,
       PlotTongs,
       GetTongs,
       PlotDegradationHooks
       )

exportClasses("AffyDegradationBatch")

exportMethods(plotDx,
              d,
              afbatch
              )

